@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Cascading Value: @_demo.Value</p>

<input type="text" @bind="NewValue" @oninput="OnInputChange" />

<label>@TestField</label>

@code {
    public string? TestField = null;
    public string? NewValue = null;

    [CascadingParameter]
    public Demo _demo { get; set; }

    private void OnInputChange(ChangeEventArgs eventArgs)
    {
        if (eventArgs != null && eventArgs.Value != null)
            TestField = eventArgs.Value.ToString();
    }
}